<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.kosta.inssaground.model.mapper.GameProgramMapper">
	<insert id="createGameProgram" parameterType="gameProgramVO">
		<selectKey keyProperty="programNo" resultType="String"
			order="BEFORE">
			select GAME_PROGRAM_seq.nextval from dual
		</selectKey>
		insert into GAME_PROGRAM(program_no, title, detail, id)
		values(#{programNo}, #{title}, #{detail}, #{id})
	</insert>
	<insert id="addGameInGameProgram"
		parameterType="programOfficialGameVO">
		insert into PROGRAM_OFFICIAL_GAME(program_no, o_game_no,
		game_order)
		values(#{programNo}, #{oGameNo}, #{gameOrder})
	</insert>
	<select id="findGameProgramListById" resultType="gameProgramVO">
		select
		program_no, title
		from GAME_PROGRAM
		where id=#{value}
		order by program_no
		desc
	</select>
	<select id="findGameListByIdAndProgramNo"
		parameterType="gameProgramVO" resultType="gameProgramListVO">
		select gp.detail, r_pog_og.*
		from (
		select pog.program_no, pog.game_order, og.o_game_no, og.title
		from PROGRAM_OFFICIAL_GAME pog, OFFICIAL_GAME og
		where pog.o_game_no= og.o_game_no
		) r_pog_og, GAME_PROGRAM gp
		where r_pog_og.program_no=gp.program_no
		and gp.id = #{id} and r_pog_og.program_no=#{programNo}
		order by r_pog_og.game_order
	</select>
	<delete id="deleteProgramOfficialGame" parameterType="int">
		delete from PROGRAM_OFFICIAL_GAME where program_no=#{value}
	</delete>
	<delete id="deleteGameProgram" parameterType="map">
		delete from GAME_PROGRAM where program_no = #{PROGRAM_NO} and id=#{ID}
	</delete>
</mapper>