<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.inssaground.model.mapper.GroundMapper">
	<!-- SOJEONG -->
	
	<select id="searchGroundTest" parameterType="map" resultType="groundVO">
			select g.ground_no,g.ground_name,g.max_personnel,s.sigungu_name as area, h.name as hobby from ground g,sigungu s,hobby h where g.sigungu_no=s.sigungu_no and h.hobby_no=g.hobby_no
	</select>
	<select id="groundDetail" parameterType="groundVO" resultType="groundVO">
		select g.*,s.sigungu_name as area from ground g, sigungu s where g.ground_no=#{groundNo} and s.sigungu_no=g.sigungu_no
	</select>
	<select id="getGroundSearchResultCount" parameterType="groundVO" resultType="int">
		select count(*) from ground
	</select>
	
	
	<!--DOHYEONG  -->
	<select id="getAllSido" resultType="sidoVO">
		select * from sido
	</select>
	
	<select id="getSigungu" resultType="sigunguVO">
		select * from sigungu
	</select>
	
	<select id="findSidoBySidoNo" resultType="sidoVO">
		select * from sido where sido_no=#{value}
	</select>
	
	<select id="findSigunguBySigunguNo" resultType="sigunguVO">
		select * from sigungu where sigungu_no=#{value}
	</select>
	
	<insert id="groundApply" parameterType="groundVO">
	<selectKey keyProperty="groundNo" resultType="string" order="BEFORE">
		select ground_seq.nextval from dual
	</selectKey>
			insert into ground(ground_no,max_personnel,introduction,ground_name,master,hobby_no,sigungu_no,status)
			values(#{groundNo},#{maxPersonnel},#{introduction},#{groundName},#{master},#{hobby},#{area},0)
	</insert>
	
	<insert id="registerTag">
		insert into hashtag(content) values(#{value})
	</insert>
	
	<insert id="groundHashtag" parameterType="groundHashtagVO">
		insert into ground_hashtag(ground_no,content) values(#{groundNo},#{content})
	</insert>
	
	<select id="hashtagBoolean" parameterType="string" resultType="int">
		select count(*) from hashtag where content=#{value}
	</select>
	
</mapper>
 