<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.inssaground.model.mapper.GroundMapper">
	<!-- SOJEONG -->
	<select id="getAllGroundList" parameterType="pagingBean"   resultType="groundVO">
		select g.*,s.sigungu_name as area, h.name as hobby
		from (
					select row_number() over (order by ground_no) as row_no,g.*
					from ground g) g, sigungu s, hobby h 
		where g.sigungu_no=s.sigungu_no and h.hobby_no=g.hobby_no and row_no between #{startRowNumber} and #{endRowNumber}
	
	</select>
	<select id="searchGroundTest" parameterType="map" resultType="groundVO">
			<![CDATA[
				select g.ground_no,g.ground_name,g.max_personnel,s.sigungu_name as area, h.name as hobby 
				from (
								select row_number() over (order by ground_no) as row_no,g.*
								from ground g
								
								) g, sigungu s, hobby h 
				where g.sigungu_no=s.sigungu_no and h.hobby_no=g.hobby_no and row_no between #{pagingBean.startRowNumber} and #{pagingBean.endRowNumber}
		]]>		
	</select>
	
	<select id="groundDetail" parameterType="groundVO" resultType="groundVO">
		select g.*,s.sigungu_name as area,  (select count(*) from insider where status=1 and ground_no=#{groundNo}) as participants from ground g, sigungu s where g.ground_no=#{groundNo} and s.sigungu_no=g.sigungu_no
	</select>
	
	<select id="getGroundSearchResultCount" parameterType="map" resultType="int">	
		select count(*) from ground where status=1
		<if test="sigungu==null and sido!=null">
			and sigungu_no in (select sigungu_no from sigungu where sido_no= #{sido})
		</if>
		<if test="sigungu!=null">
			and sigungu_no = #{sigungu}
		</if>	
		<if test="hobby==null and category!=null">
			and hobby_no in (select hobby_no from hobby where hobby_category_no= #{category})
		</if>
		<if test="hobby!=null">
			and hobby_no=#{hobby}
		</if>
		<if test="groundVO!=null and groundVO.groundName!=null">
			and ground_name like '%' || #{groundVO.groundName} || '%'
		</if>
	</select>
	<select id="searchGround" parameterType="map" resultType="groundVO">
		select g.*,s.sigungu_name as area, h.name as hobby 
		from (	select row_number() over (order by ground_no) as row_no,gr.*
					from ground gr) g, sigungu s, hobby h 
		where g.status=1 and g.sigungu_no=s.sigungu_no and h.hobby_no=g.hobby_no and g.row_no between #{pagingBean.startRowNumber} and #{pagingBean.endRowNumber}
		<if test="sigungu==null and sido!=null">
			and g.sigungu_no in (select sigungu_no from sigungu where sido_no= #{sido})
		</if>
		<if test="sigungu!=null">
			and g.sigungu_no = #{sigungu}
		</if>
			<if test="hobby==null and category!=null">
			and g.hobby_no in (select hobby_no from hobby where hobby_category_no= #{category})
		</if>
		<if test="hobby!=null">
			and g.hobby_no=#{hobby}
		</if>
		<if test="groundVO!=null and groundVO.groundName!=null">
			and ground_name like '%' || #{groundVO.groundName} || '%'
		</if>
		order by g.ground_no asc	
	</select>
	<insert id="participateGround" parameterType="map" >
		insert into insider(ground_no,id) values(#{groundNo},#{id})
	</insert>
	<select id="getParticipationReadyList" parameterType="string" resultType="memberVO">
		select m.id,m.name,m.email from inssa_member m, insider i where i.ground_no=#{value} and i.status=0 and i.id=m.id
	</select>
	<update id="approveParticipation" parameterType="insiderVO">
		update insider set status=1 where id=#{memberVO.id} and ground_no=#{groundNo}
	</update>
	<insert id="registerGroundNotice" parameterType="noticeVO" >
		insert into notice(notice_no,ground_no,content) values(notice_seq.nextval,#{groundNo},#{content})
	</insert>
	<select id="getGroundNoticeCount" resultType="int">
		select count(*) from notice where ground_no=#{value}
	</select>
	<sql id="selectNotice">
		
	</sql>
	<select id="getAllGroundNoticeList" parameterType="map" resultType="noticeVO">
		select n.notice_no, n.ground_no,n.content,to_char(n.time_posted,'YYYY-MM-DD HH24:MI') as time_posted
		from (select row_number() over (order by time_posted desc) as rnum, n.*  from notice n where n.ground_no=#{groundNo}) n 
		where n.rnum between #{pagingBean.startRowNumber} and #{pagingBean.endRowNumber}
		order by time_posted desc
	</select>
	<select id="getNoticeDetailByNo" resultType="noticeVO">
		select n.notice_no, n.ground_no,n.content,to_char(n.time_posted,'YYYY-MM-DD HH24:MI') as time_posted
		from notice n
		where notice_no = #{value}
	</select>


	<!--DOHYEONG  -->
	<select id="getAllSido" resultType="sidoVO">
		select * from sido
	</select>
	
	<select id="getSigungu"  parameterType="string" resultType="sigunguVO">
		select * from sigungu where sido_no=#{value}
	</select>
	
	<select id="findSidoBySidoNo" resultType="sidoVO">
		select * from sido where sido_no=#{value}
	</select>
	
	<select id="findSigunguBySigunguNo" resultType="sigunguVO">
		select * from sigungu where sigungu_no=#{value}
	</select>
	
	<insert id="groundApply" parameterType="groundVO">
	<selectKey keyProperty="groundNo" resultType="string" order="BEFORE">
		select ground_seq.nextval from dual
	</selectKey>
			insert into ground(ground_no,max_personnel,introduction,ground_name,master,hobby_no,sigungu_no,status)
			values(#{groundNo},#{maxPersonnel},#{introduction},#{groundName},#{master},#{hobby},#{area},0)
	</insert>
	
	<insert id="registerTag">
		insert into hashtag(content) values(#{value})
	</insert>
	
	<insert id="groundHashtag" parameterType="groundHashtagVO">
		insert into ground_hashtag(ground_no,content) values(#{groundNo},#{content})
	</insert>
	
	<select id="hashtagBoolean" parameterType="string" resultType="int">
		select count(*) from hashtag where content=#{value}
	</select>
	
	<insert id="registergroundImg" parameterType="groundVO">
		insert into ground_img(ground_img_no,ground_no,img_name)
		values(ground_img_seq.nextval,#{groundNo},#{groundImgVO.imgName})
	</insert>
	
	<resultMap type="groundVO" id="groundRM">
		<result column="img_name" property="groundImgVO.imgName" />
		<result column="sigungu_no" property="sigunguVO.sigunguNo" />
	</resultMap>
	<select id="findGroundByGroundNo" parameterType="string" resultMap="groundRM">
		select g.ground_no,g.max_personnel,g.introduction,g.ground_name,g.master,g.hobby_no as hobby,g.sigungu_no,i.img_name
		from ground g left join ground_img i on g.ground_no = i.ground_no where g.ground_no=#{value}
	</select> 
	
	<insert id="registergroundschedule" parameterType="scheduleVO">
		insert into schedule(schedule_no,start_date,end_date,title,loc,content,id,ground_no,max_personnel)
		values(schedule_seq.nextval,to_date(#{startDate},'YYYY-MM-DD'),to_date(#{endDate},'YYYY-MM-DD'),#{title},#{loc},#{content},#{insiderVO.memberVO.id},#{groundVO.groundNo},#{maxPersonnel})
	</insert>
	
 	<select id="grouondScheduleList" parameterType="map" resultType="scheduleVO">
		select content,ground_no,id,loc,max_personnel,schedule_no,title
		from ( 
		select row_number() over(order by schedule_no desc) as rnum,content,ground_no,id,loc,max_personnel,schedule_no,title
 		from schedule )
		where ground_no=#{groundVO.groundNo} and rnum between #{pagingBean.startRowNumber} and #{pagingBean.endRowNumber}
		order by schedule_no desc
	</select>
	
	<resultMap type="scheduleVO" id="scheduleRM">
		<result column="id" property="insiderVO.memberVO.id"/>
		<result column="ground_no" property="groundVO.groundNo"/>
	</resultMap>
	<select id="findGroundScheduleByScheduleNo" parameterType="scheduleVO" resultMap="scheduleRM">
		select content,to_char(end_date,'YYYY-MM-DD'),to_char(start_date,'YYYY-MM-DD'),ground_no,id,loc,max_personnel,schedule_no,title
		from schedule where schedule_no=#{scheduleNo}
	</select>
	

	<select id="groundScheduleTotalCount" parameterType="groundVO" resultType="int">
		select count(*) from schedule where ground_no=#{groundNo}
	</select>
	<!-- JISUN -->
	<select id="getTotalApplyGroundList" resultType="int">
		select count(*) from ground where status=0
	</select>
	<select id="getApplyGroundList" resultType="groundVO" parameterType="pagingBean">
	SELECT ag.* FROM(
				SELECT row_number() over(order by ground_no desc) as rnum,
				ground_no, ground_name, master
				FROM ground where status=0
		) ag
		where rnum between #{startRowNumber} and #{endRowNumber}
		order by ground_no desc
	</select>
	<select id="getHashtagList" resultType="string">
		select content from ground_hashtag where ground_no=#{value}
	</select>
	<update id="permitGround" parameterType="string">
		update ground set status=1 where ground_no=#{value}
	</update>
	<update id="rejectGround" parameterType="string">
		update ground set status=2 where ground_no=#{value}
	</update>
	<insert id="insertInsider" parameterType="map" >
		insert into insider(ground_no,id,attendance,status) values(#{groundNo},#{id},0,1)
	</insert>
</mapper>
 