<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.inssaground.model.mapper.MemberMapper">
	<select id="findMemberById" resultType="memberVO">
		select * from INSSA_MEMBER where id=#{value}
	</select>
	<select id="getAuthorityById" resultType="string">
		select role from MEMBER_AUTHORITY where id=#{value}
	</select>
	<select id="idcheck" resultType="int">
		select count(*) from INSSA_MEMBER where id=#{value}
	</select>
	<select id="emailcheck" resultType="int">
	select count(*) from email_key where email=#{value}
	</select>
	<insert id="insertEmailInfo" parameterType="emailKeyVO">
	 	insert into email_key(email,email_key,reg_date,status) values(#{email},#{emailKey},sysdate,0)
	</insert>
	<update id="updateEmailKey" parameterType="emailKeyVO">
		update email_key set email_key=#{emailKey}, reg_date=sysdate where email=#{email}
	</update>
	<select id="getEmailKeyInfo" resultType="emailKeyVO">
		select email_key from email_key where email=#{value}
	</select>
	<insert id="registerMember" parameterType="memberVO">
		insert into inssa_member(id,password,name,email,status) values(#{id},#{password},#{name},#{email},1)
	</insert>
	<insert id="registerPermission" parameterType="string">
		insert into MEMBER_AUTHORITY(id,role) values(#{value},'ROLE_MEMBER')
	</insert>
	<select id="findMemberId" parameterType="memberVO" resultType="string">
		select id from inssa_member where email=#{email} and name=#{name}
	</select>
	<update id="updateTempPassword" parameterType="memberVO">
		update inssa_member set password=#{password} where id=#{id}
	</update>
	<insert id="registerProfile" parameterType="memberVO">
		insert into PROFILE_IMG(id,path) values(#{id},#{profile})
	</insert>
	<select id="getProfileIMGName" parameterType="string" resultType="string">
		select path from profile_img where id=#{value}
	</select>
	<select id="myGroundNoList" resultType="map">
			select ground_no as groundNo, status from insider where id=#{value}
		</select>
	<delete id="deleteProfileIMG">
		delete from profile_img where id=#{value}
	</delete>
	<delete id="revokeRole">
		delete from MEMBER_AUTHORITY where id=#{value}
	</delete>
	<update id="changeMemberStatus">
		update inssa_member set status=3 where id=#{value}
	</update>
	<update id="updateMember" parameterType="memberVO">
		update inssa_member set password=#{password}, name=#{name} where id=#{id}
	</update>
	<insert id="reportGround" parameterType="reportVO">
		insert into badground_report(report_no,content,title,time_posted,id,ground_no)
		 values(badground_report_seq.nextval,#{content},#{title},sysdate,#{id},#{groundNo})
	</insert>
	<select id="getReportList" resultType="reportVO">
	SELECT report.* FROM(
				SELECT row_number() over(order by report_no desc) as rnum,
				report_no, title, id,to_char(time_posted,'YYYY.MM.DD') as timePosted
				FROM badground_report
		) report
		where rnum between #{startRowNumber} and #{endRowNumber}
		order by report_no desc
	</select>
	<select id="getReportDetail" resultType="reportVO">
		select report_no,content,title,to_char(time_posted,'YYYY.MM.DD HH24:MI:SS') as timePosted,id,ground_no
		from badground_report
		where report_no=#{value}
	</select>
</mapper>
 