<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.inssaground.model.mapper.MemberMapper">
	<select id="findMemberById" resultType="memberVO">
		select * from INSSA_MEMBER where id=#{value}
	</select>
	<select id="getAuthorityById" resultType="string">
		select role from MEMBER_AUTHORITY where id=#{value}
	</select>
	<select id="idcheck" resultType="int">
		select count(*) from INSSA_MEMBER where id=#{value}
	</select>
	<select id="emailcheck" resultType="int">
	select count(*) from email_key where email=#{value}
	</select>
	<insert id="insertEmailInfo" parameterType="emailKeyVO">
	 	insert into email_key(email,email_key,reg_date,status) values(#{email},#{emailKey},sysdate,0)
	</insert>
	<update id="updateEmailKey" parameterType="emailKeyVO">
		update email_key set email_key=#{emailKey}, reg_date=sysdate where email=#{email}
	</update>
	<select id="getEmailKeyInfo" resultType="emailKeyVO">
		select email_key from email_key where email=#{value}
	</select>
	<insert id="registerMember" parameterType="memberVO">
		insert into inssa_member(id,password,name,email,status) values(#{id},#{password},#{name},#{email},1)
	</insert>
	<insert id="registerPermission" parameterType="string">
		insert into MEMBER_AUTHORITY(id,role) values(#{value},'ROLE_MEMBER')
	</insert>
</mapper>
 