<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.inssaground.model.mapper.OfficialGameMapper">
	<select id="getTotalOfficialGameCount" resultType="int">
		select count(*) from
		OFFICIAL_GAME
	</select>
	<select id="getOfficialGameList" resultType="officialGameVO" parameterType="pagingBean">
		SELECT og.* FROM(
				SELECT row_number() over(order by o_game_no desc) as rownumber,
				o_game_no, title, min_personnel, max_personnel, game_time, materials, cg_no
				FROM OFFICIAL_GAME
		) og
		where rownumber between #{startRowNumber} and #{endRowNumber}
		order by o_game_no desc
	</select>
	<select id="getOfficialGameDetail" resultType="officialGameVO">
		select
		o_game_no, title, min_personnel, max_personnel,
		game_time, materials, content, cg_no
		from OFFICIAL_GAME 
		where o_game_no=#{value}
	</select>

	<insert id="writeOfficialGame" parameterType="officialGameVO">
		<selectKey keyProperty="oGameNo" resultType="String"
			order="BEFORE">
			select
			OFFICIAL_GAME_seq.nextval from dual
		</selectKey>
		insert into official_game(o_game_no, title, min_personnel,
		max_personnel, game_time, materials, content, cg_no)
		values (#{oGameNo}, #{title}, #{minPersonnel}, #{maxPersonnel}, #{gameTime},
		#{materials}, #{content}, #{cgNo})
	</insert>
	<update id="updateOfficialGame" parameterType="officialGameVO">
		update OFFICIAL_GAME
		set
		title=#{title},content=#{content},min_personnel=#{minPersonnel}, max_personnel=#{maxPersonnel}, game_time=#{gameTime},
		materials=#{materials}, content=#{content}, cg_no=#{cgNo}
		where o_game_no=#{oGameNo}
	</update>
	<delete id="deleteOfficialGame" parameterType="string">
		delete from OFFICIAL_GAME where o_game_no=#{value}
	</delete>
</mapper>